<!-- wp:ourblocktheme/header /-->

<!-- wp:ourblocktheme/banner -->
<!-- wp:ourblocktheme/genericheading {"text":"Welcome!"} -->
<h1 class="wp-block-ourblocktheme-genericheading headline headline--large">Welcome!</h1>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"We think you'll like it here.","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">We think you'll like it here.</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"Why you don't you check out the \u003cstrong\u003emajor\u003c/strong\u003e you're interest in?","size":"small"} -->
<h3 class="wp-block-ourblocktheme-genericheading headline headline--small">Why you don't you check out the <strong>major</strong> you're interest in?</h3>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Find Your Major","linkObject":{"title":"programs","type":"URL","url":"/udemy/wpdev/programs"},"colorName":"orange"} -->
<a href="/udemy/wpdev/programs" class="wp-block-ourblocktheme-genericbutton btn btn--large btn--orange">Find Your Major</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/banner -->

<!-- wp:ourblocktheme/eventsandblogs /-->

<!-- wp:ourblocktheme/slideshow -->
<!-- wp:ourblocktheme/slide {"themeimage":"bus.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"Free Transportation"} -->
<h1 class="wp-block-ourblocktheme-genericheading headline headline--large">Free Transportation</h1>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"All students have free unlimited bus fare.","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">All students have free unlimited bus fare.</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Learn More!","colorName":"dark-orange"} -->
<a href="" class="wp-block-ourblocktheme-genericbutton btn btn--large btn--dark-orange">Learn More!</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->

<!-- wp:ourblocktheme/slide {"themeimage":"apples.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"An Apple a Day"} -->
<h1 class="wp-block-ourblocktheme-genericheading headline headline--large">An Apple a Day</h1>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"Our dentisty program recommends eating apples.","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">Our dentisty program recommends eating apples.</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Learn More!"} -->
<a href="" class="wp-block-ourblocktheme-genericbutton btn btn--large btn--blue">Learn More!</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->

<!-- wp:ourblocktheme/slide {"themeimage":"bread.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"Free Food"} -->
<h1 class="wp-block-ourblocktheme-genericheading headline headline--large">Free Food</h1>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"Fictional University offers lunch plans for those in need.","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">Fictional University offers lunch plans for those in need.</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Lern More"} -->
<a href="" class="wp-block-ourblocktheme-genericbutton btn btn--large btn--blue">Lern More</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->
<!-- /wp:ourblocktheme/slideshow -->

<!-- wp:ourblocktheme/footer /-->